/* ===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
   --header-height: 3rem;
   --nav-width: 324px;

   /*===== Font weight =====*/
   --font-medium: 500;
   --font-semi-bold: 600;
   --font-bold: 700;

   /*===== Colors =====*/
   --first-color: #CC4B2c;
   --first-color-dark: #662616;
   --first-color-darken: #290F09;
   --text-color: #54423D;
   --first-color-light: #EAE7E6;
   --first-color-lighten: #FFFAFA;

   /*===== Font and typography =====*/
   --body-font: "Poppins", sans-serif;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1rem;
   --normal-font-size: 0.938rem;
   --small-font-size: 0.813rem;
   --smaller-font-size: 0.75rem;

   /*===== Margenes =====*/
   --mb-1: 0.5rem;
   --mb-2: 1rem;
   --mb-3: 1.5rem;
   --mb-4: 2rem;
   --mb-5: 2.5rem;

   /*===== z index =====*/
   --z-fixed: 100;
}

@media screen and (min-width: 768px) {
   :root {
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
   }
}

/* ==== BASE ==== */
*,
::before,
::after {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: var(--header-height) 0 0 0;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   font-weight: var(--font-medium);
   background-color:var(--first-color-lighten);
   color: var(--text-color);
}

h1,
h2,
h3,
p {
   margin: 0;
}

h3 {
   font-weight: var(--font-semi-bold);
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--text-color);
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}

/*===== CLASS CSS ===== */
.section {
   padding: 4rem 0 2rem;
}

.section-tilte {
   font-size: var(--h1-font-size);
   color: var(--first-color);
   margin-bottom: var(--mb-3);
   text-align: center;
}

.section-subtitle {
   display: block;
   font-size: var(--small-font-size);
   color: var(--first-color-darken);
   text-align: center;
   font-weight: var(--font-bold);
   margin-bottom: 0.25rem;
}

/*===== LAYOUT =====*/
.bd-grid {
   max-width: 1024px;
   display: grid;
   grid-template-columns: 100%;
   column-gap: 2rem;
   width: calc(100% - 2rem);
   margin-left: var(--mb-2);
   margin-right: var(--mb-2);
}

.l-header {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: var(--z-fixed);
   background-color: var(--first-color-lighten);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*===== NAV =====*/
.nav {
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__menu {
   position: fixed;
   top: 0;
   left: -100%;
   width: 90%;
   height: 100vh;
   padding: 3rem;
   display: flex;
   align-items: center;
   background-color: var(--first-color);
   transition: 0.5s;
}

.nav__close {
   position: absolute;
   top: 1rem;
   right: 1rem;
   font-size: 2rem;
   color: var(--first-color-dark);
   cursor: pointer;
}

.nav__item {
   margin-bottom: var(--mb-4);
}

.nav__link {
   font-size: 1rem;
   text-transform: uppercase;
   color: var(--first-color-lighten);
   font-weight: var(--font-bold);
   transition: 0.3s;
}

.nav__link:hover {
   color: var(--text-color);
}

.nav__toggle {
   color: var(--first-color-dark);
   font-size: 1.3rem;
   cursor: pointer;
}

/*=== Show menu ===*/
.show {
   left: 0;
}

/*Active menu*/
.active {
   color: var(--text-color);
}

/*===== HOME =====*/
.home__container {
   height: calc(100vh - var(--header-height));
   align-items: center;
}

.home__data {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: max-content;
   text-align: center;
}

.home__img {
   padding-top: 1.2rem;
   padding-left: 0.8rem;
   width: 200px;
   height: 200px;
   border-radius: 30% 70% 60% 40% / 38% 30% 70% 62%;
   background: url("/assets/img/perfil1.jpg") no-repeat;
   background-size: cover;
   background-position: top -20px center;
   background-blend-mode: multiply;
   overflow: hidden;
   margin-bottom: var(--mb-2);
}

.home__title{
   font-size: var(--h1-font-size);
   color: var(--first-color);
   font-weight: var(--font-semi-bold);
}

.home__profession{
   font-size: var(--small-font-size);
   color: var(--first-color-dark);
   margin-bottom: var(--mb-5);
}

.home__social{
   margin-bottom: 5rem;
}

.home__social-link{
   display: inline-flex;
   background-color: var(--first-color);
   color: var(--first-color-lighten);
   font-size: 1.5rem;
   border-radius: 30% 70% 60% 40% / 38% 30% 70% 62%;
   padding: .40rem;
   margin: 0 var(--mb-1);
   transition: .3s;
}

.home__social-link:hover{
   background-color: var(--first-color-dark);
}

.home__button{
   width: 100%;
}
/*BUTTONS*/
.button{
   display: inline-block;
   background-color: var(--first-color);
   color: var(--first-color-lighten);
   padding: 1rem 2rem;
   font-weight: var(--font-semi-bold);
   border-radius: .5rem;
   transition: .3s;
}

.button:hover{
   background-color: var(--first-color-dark);
}

.button__light{
   background-color: var(--first-color-lighten);
   color: var(--first-color);
}

.button__light:hover{
   color: var(--first-color-lighten);
}
/* ===== ABOUT =====*/

/* ===== SKILLS =====*/

/* ===== EDUCATION =====*/

/* ===== SERVICES =====*/

/* ===== PROJECT IN MIND  =====*/

/* ===== WORKS =====*/

/* ===== CONTACT =====*/

/* ===== FOOTER =====*/

/* ===== MEDIA QUERIES=====*/
